<template>
    <div>
        <section class="cabecera-dristribuidor">
            <div class="container">
                <div class="content-cabecera">
                    <div class="info-cabecera">
                        <h1>Consigue a tus proveedores desde tu oficina.</h1>
                        <p>El producto que distribuiras en tu local, sin esfuerzos para ti.
                            Distintos productos, todos unidos en el mismo lugar.
                            </p>
                            <a href="#">Registrarme</a>    
                    </div>
                    <div class="img-bottles">
                        <img src="@/assets/beerbottle2.png" alt="Botella cerveza">
                    </div>
                </div>
            </div>
        </section>
        <section class="proveedores">
            <div class="container">
                <div class="content-proveedores">
                    <div class="info-prod-izq">
                        <i class="fas fa-beer fa-8x"></i>
                    </div>
                    <div class="info-proveedores">
                        <h2>Ordena tu cadena de proveedores.</h2>
                        <p>Pertenece a una plataforma que te ayudara a mantener en orden a todos tus proveedores de cerveza en un solo lugar, de forma rápida, simple desde cualquier parte donde te encuentre. Podras ver con tan solo un par de clicks lo que pasa con tu pedido, fechas, etc.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="porque">
            <div class="container">
                <div class="content-porque">
                    <div class="info-porque">
                        <h2>Ofrece cervezas novedosas de primera calidad.</h2>
                        <p>Encuentra el proveedor o los proveedores que tienen la cerveza que andas buscando para tus clientes. Nuestra plataforma cuenta con una gran variedad, todas de primera calidad, especiales para deleitar a tus clientes.</p>
                    </div>
                    <div class="img-lata">
                        <img src="@/assets/beermub.png" alt="Jarra Cerveza">
                    </div>
                </div>
            </div>        
        </section>
    </div>
</template>
