<template>
  <div>
    <section class="cabecera">
        <div class="container">
            <div class="content-cabecera">
                <div class="info-cabecera">
                    <h1>Da a conocer tu Cerveza al mundo.</h1>
                    <p>Contácta a distribuidores de todas partes del planeta interesados en poner en sus vitrinas tu producto, y convierte en productor de cerveza a gran escala.</p>
                    <a href="#">Quiero encontrar mi distribuidor!</a>
                </div>
                <div class="img-bottles">
                    <img src="@/assets/beerbottle.png" alt="Botella cerveza">
                </div>
            </div>
        </div>
    </section>
    <section class="producto">
      <div class="container">
          <div class="content-producto">
              <div class="info-prod">
                  <h2>Ofrece tu producto desde la comodidad de tu casa.</h2>
                  <p>Encuentra el distribuidor o los distribuidores idoneos para tu empresa. Se parte de una red que se encargará de los detalles por ti, solo te tienes que preocupar por mejorar la calidad de tu producto, que la distribución la vemos nosotros.</p>
                  <a href="#">Leer más</a>
              </div>
              <div class="lista-prod">
                  <ul>
                      <li>
                          <i class="far fa-check-square fa-lg"></i> Elije entre muchos distribuidores
                      </li>
                      <li>
                          <i class="far fa-check-square fa-lg"></i> Preocupate solo de tu cerveza
                      </li>
                      <li>
                          <i class="far fa-check-square fa-lg"></i> Conserva tus cuentas claras
                      </li>
                      <li>
                          <i class="far fa-check-square fa-lg"></i> Ten historial de tus distribuidores
                      </li>
                      <li>
                          <i class="far fa-check-square fa-lg"></i> Plataforma fácil de usar
                      </li>
                      <li>
                          <i class="far fa-check-square fa-lg"></i> Comparte tu experiencia con otros
                      </li>
                  </ul>
              </div>
          </div>
      </div>
    </section>
    <section class="porque">
        <div class="container">
            <div class="content-porque">
                <div class="info-porque">
                    <h2>¿Porqué distribuir tu cerveza?</h2>
                    <p>Encuentra el distribuidor o los distribuidores idoneos para tu empresa. Se parte de una red que se encargará de los detalles por ti, solo te tienes que preocupar por mejorar la calidad de tu producto, que la distribución la vemos nosotros.</p>
                    <a href="#">Leer más</a>
                </div>
                <div class="img-lata">
                    <img src="@/assets/latas.png" alt="Latas Cerveza">
                </div>
            </div>
        </div>        
    </section>
    <section class="cards">
      <div class="container">
          <div class="content-cards">
              <div class="card">
                  <div class="icono">
                      <i class="fas fa-laptop"></i>
                  </div>
                  <div class="card-info">
                      <h3>¿Como funciona myBeer?</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                      <a href="#">Leer más</a>
                  </div>
              </div>
              <div class="card">
                  <div class="icono">
                      <i class="far fa-credit-card"></i>
                  </div>
                  <div class="card-info">
                      <h3>¿Que es el fee mensual?</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                      <a href="#">Leer más</a>
                  </div>
              </div>
              <div class="card">
                  <div class="icono">
                      <i class="fas fa-user-friends"></i>
                  </div>
                  <div class="card-info">
                      <h3>¿Como ser parte de la comunidad?</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                      <a href="#">Leer más</a>
                  </div>
              </div>    
          </div>
      </div>
  </section>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'home'
}
</script>

