<template>
    <div>
        <section class="tit-login">
            <div class="container">
                <h2>Login</h2>
            </div>
        </section>
        <section class="login-form">
            <div class="container">
                <div class="login-form-container">
                    <div class="logo-login-form">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            width="400px" height="103px" viewBox="0 0 237.83 66.667" enable-background="new 0 0 237.83 66.667" xml:space="preserve">
                       <g>
                           <path fill="#373C38" d="M36.526,26.434c1.556,1.569,2.335,3.884,2.335,6.941v12.601h-2.934V33.664c0-2.258-0.544-3.979-1.632-5.164
                               c-1.089-1.185-2.624-1.777-4.607-1.777c-2.259,0-4.035,0.696-5.329,2.087c-1.295,1.391-1.942,3.313-1.942,5.763v11.403h-2.933
                               V33.664c0-2.258-0.543-3.979-1.632-5.164c-1.088-1.185-2.637-1.777-4.647-1.777c-2.231,0-4.001,0.696-5.309,2.087
                               c-1.309,1.391-1.963,3.313-1.963,5.763v11.403H3V24.245h2.81v3.966c0.771-1.322,1.845-2.341,3.223-3.057
                               c1.377-0.716,2.96-1.074,4.751-1.074c1.817,0,3.395,0.386,4.73,1.157c1.335,0.771,2.334,1.915,2.995,3.429
                               c0.799-1.432,1.949-2.555,3.45-3.367c1.501-0.812,3.216-1.219,5.144-1.219C32.829,24.079,34.97,24.864,36.526,26.434z"/>
                           <path fill="#373C38" d="M64.682,24.245L53.816,48.578c-0.882,2.039-1.9,3.484-3.057,4.338c-1.156,0.854-2.548,1.281-4.173,1.281
                               c-1.047,0-2.024-0.165-2.933-0.496c-0.909-0.33-1.694-0.826-2.355-1.487l1.363-2.189c1.102,1.102,2.424,1.652,3.966,1.652
                               c0.992,0,1.839-0.275,2.541-0.826c0.703-0.551,1.357-1.487,1.963-2.809l0.95-2.108l-9.708-21.689h3.057l8.18,18.467l8.181-18.467
                               H64.682z"/>
                           <path fill="#373C38" d="M93.271,33.561c0.936,1.225,1.404,2.733,1.404,4.523c0,2.535-0.985,4.483-2.954,5.846
                               c-1.969,1.364-4.841,2.045-8.614,2.045H68.152v-28.92h14.129c3.526,0,6.232,0.675,8.119,2.024c1.886,1.35,2.83,3.182,2.83,5.496
                               c0,1.404-0.338,2.658-1.013,3.759s-1.618,1.97-2.83,2.603C91.041,31.461,92.335,32.335,93.271,33.561z M74.805,22.096v6.817h6.651
                               c1.653,0,2.906-0.289,3.76-0.867s1.281-1.432,1.281-2.562c0-1.129-0.427-1.976-1.281-2.541c-0.854-0.564-2.107-0.847-3.76-0.847
                               H74.805z M86.599,40.067c0.895-0.579,1.343-1.473,1.343-2.686c0-2.396-1.776-3.594-5.33-3.594h-7.808v7.147h7.808
                               C84.375,40.935,85.704,40.646,86.599,40.067z"/>
                           <path fill="#373C38" d="M120.952,36.68h-16.814c0.302,1.377,1.019,2.465,2.147,3.264c1.13,0.799,2.534,1.198,4.214,1.198
                               c1.157,0,2.183-0.172,3.078-0.517c0.895-0.343,1.728-0.888,2.5-1.632l3.429,3.719c-2.093,2.396-5.15,3.594-9.172,3.594
                               c-2.507,0-4.724-0.488-6.652-1.466c-1.928-0.978-3.415-2.334-4.462-4.07s-1.57-3.704-1.57-5.908c0-2.175,0.517-4.138,1.55-5.888
                               c1.032-1.749,2.45-3.112,4.254-4.09c1.804-0.977,3.822-1.467,6.053-1.467c2.175,0,4.145,0.468,5.908,1.404
                               c1.763,0.938,3.146,2.28,4.152,4.028c1.005,1.75,1.508,3.78,1.508,6.094C121.076,35.027,121.035,35.605,120.952,36.68z
                                M105.872,29.533c-0.991,0.826-1.598,1.956-1.817,3.388h10.948c-0.221-1.405-0.827-2.527-1.818-3.368
                               c-0.992-0.839-2.204-1.259-3.635-1.259C108.089,28.293,106.864,28.707,105.872,29.533z"/>
                           <path fill="#373C38" d="M147.021,36.68h-16.815c0.303,1.377,1.019,2.465,2.148,3.264c1.129,0.799,2.533,1.198,4.214,1.198
                               c1.157,0,2.183-0.172,3.078-0.517c0.895-0.343,1.728-0.888,2.5-1.632l3.429,3.719c-2.093,2.396-5.151,3.594-9.172,3.594
                               c-2.506,0-4.723-0.488-6.651-1.466c-1.928-0.978-3.415-2.334-4.462-4.07c-1.046-1.735-1.569-3.704-1.569-5.908
                               c0-2.175,0.517-4.138,1.55-5.888c1.032-1.749,2.451-3.112,4.254-4.09c1.804-0.977,3.822-1.467,6.053-1.467
                               c2.175,0,4.145,0.468,5.908,1.404c1.762,0.938,3.146,2.28,4.151,4.028c1.005,1.75,1.508,3.78,1.508,6.094
                               C147.146,35.027,147.104,35.605,147.021,36.68z M131.941,29.533c-0.991,0.826-1.598,1.956-1.817,3.388h10.949
                               c-0.221-1.405-0.827-2.527-1.818-3.368c-0.991-0.839-2.204-1.259-3.636-1.259C134.159,28.293,132.933,28.707,131.941,29.533z"/>
                           <path fill="#373C38" d="M160.717,24.245c1.309-0.551,2.816-0.827,4.524-0.827v5.949c-0.716-0.055-1.198-0.083-1.446-0.083
                               c-1.845,0-3.291,0.516-4.337,1.549c-1.046,1.034-1.57,2.582-1.57,4.649v10.493h-6.445V23.749h6.155v2.933
                               C158.369,25.607,159.408,24.795,160.717,24.245z"/>
                       </g>
                       <g>
                           <path fill="#6AC28C" d="M206.739,22.371c-0.726,0-1.314,0.588-1.314,1.315v18.407c0,0.726,0.588,1.314,1.314,1.314
                               c0.727,0,1.315-0.588,1.315-1.314V23.686C208.054,22.959,207.465,22.371,206.739,22.371z"/>
                           <path fill="#6AC28C" d="M198.851,22.371c-0.726,0-1.314,0.588-1.314,1.315v18.407c0,0.726,0.588,1.314,1.314,1.314
                               s1.315-0.588,1.315-1.314V23.686C200.166,22.959,199.577,22.371,198.851,22.371z"/>
                           <path fill="#6AC28C" d="M219.888,25h-3.945v15.104l4.48-2c0.473-0.212,0.779-0.682,0.779-1.2V26.316
                               C221.202,25.591,220.612,25,219.888,25z"/>
                           <path fill="#6AC28C" d="M204.887,3.326c-16.328,0-29.564,13.236-29.564,29.564s13.236,29.564,29.564,29.564
                               c16.327,0,29.563-13.236,29.563-29.564S221.214,3.326,204.887,3.326z M222.566,42.908l-6.624,2.956v3.46
                               c0,1.089-0.883,1.972-1.972,1.972H191.62c-1.089,0-1.972-0.883-1.972-1.972v-32.87c0-1.089,0.883-1.972,1.972-1.972h22.351
                               c1.089,0,1.972,0.882,1.972,1.972v3.287h3.945c3.624,0,6.574,2.949,6.574,6.574v10.589
                               C226.461,39.496,224.933,41.852,222.566,42.908z"/>
                       </g>
                       </svg>
                    </div>
                    <form class="formulario-login">
                        <div class="login-campo">
                            <input type="text" name="email" placeholder="Ingrese Email...">
                        </div>
                        <div class="login-campo">
                            <input type="password" name="password" placeholder="Ingrese Password...">
                        </div>
                        <div class="login-campo">
                            <input class="btn-submit-form" type="submit" value="Login">
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</template>
