<template>
  <div class="main-wrapper">
    <header-component />
    
    <router-view/>
    <footer-component />
  </div>
</template>

<script>

  import HeaderComponent from '@/components/Header.vue'
  import FooterComponent from '@/components/Footer.vue'

  export default {
    components: {
      HeaderComponent,
      FooterComponent
    }
    
  }
</script>

<style>
  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }

  body {
    width:100%;
      font-family: 'Open Sans', sans-serif;
      font-weight: normal;
      background-color: #d1eedd;
  }

  a {
    outline:none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  .main-wrapper {
      width: 100%;
      padding: 2em;
  }

  .container {
      width:90%;
      margin:0 auto;
  }

  /*CABECERA*/

  .cabecera {
      width: 100%;
      /*height: 73vh;*/
      background: url('./assets/bg-cabecera3.png'), #ebf9f1;
      background-size: cover;
      background-position: left;
  }

  .content-cabecera {
      display: flex;
  }

  .info-cabecera {
      flex: 1;
      display: flex;
      justify-content: center;
      flex-direction: column;
  }

  .info-cabecera h1 {
      margin-top: -3em;
      color: #373c38;
      font-size: 3.5em;
      font-weight: 700;
  }

  .info-cabecera p {
      margin-top: 1em;
      color: #373c38;
      font-size: 1.5em;
  }

  .info-cabecera a {
      background-color: #60cd8e;
      color: white;
      font-size: 1em;
      padding: 1em 2em;
      text-decoration: none;
      text-align: center;
      margin-top: 2em;
      width: 50%;
  }

  .img-bottles {
      flex: 1;
      display: flex;
      justify-content: center;
  }

  .img-bottles img {
      margin-top: 2em;
  }

  /*PRODUCTO*/

  .producto {
      background: url('./assets/bg-productos234.png') ,white;
      background-size: cover;
      background-position: left;
      width: 100%;
  }

  .content-producto {
      display: flex;
      padding: 3em 0;
  }

  .info-prod {
      flex: 1;
      width: 100%;
      /*height: 80vh;*/
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  .info-prod h2 {
      color: #373c38;
      font-size: 3em;
      font-weight: 700;
      margin-bottom: 1em;
  }

  .info-prod p {
      color: #373c38;
      padding-right: 3em;
  }

  .info-prod a {
      color: #60cd8e;
      font-weight: 600;
      margin-top: 1em;
      align-self: flex-end;
      padding-right: 3em;
  }

  .lista-prod {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

  }

  .lista-prod ul li {
      list-style: none;
      margin: 2em 2.5em;
      color: #373c38;
      font-weight: 600;
      font-size: 1.2em;
  }

  .lista-prod ul li i {
      color: #60cd8e;
      margin-right: .5em;
  }

  /*PORQUE*/

  .porque {
      background: url('./assets/bg-productos234.png') ,white;
      background-size: cover;
      background-position: left;
      width: 100%;
  }

  .content-porque {
      display: flex;
      padding: 1em 0;
  }

  .info-porque {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  .info-porque h2 {
      color: #373c38;
      font-size: 3em;
      font-weight: 700;
      margin-bottom: 1em;
  }

  .info-porque p {
      color: #373c38;
      padding-right: 3em;
  }

  .info-porque a {
      color: #60cd8e;
      font-weight: 600;
      margin-top: 1em;
      align-self: flex-end;
      padding-right: 3em;
  }

  .img-lata {
      flex: 1;
  }

  /*CARDS*/

  .cards {
      background-color: white;
      padding: 4em 0;
  }

  .content-cards {
      width: 100%;
      display: flex;
      justify-content: space-between;
  }

  .card {
      background-color: #ebf9f1;
      width: 33.1%;
      padding: 4em 3em;
      text-align: center;
  }

  .icono {
      background-color: #d1eedd;
      border-radius: .5em;
  }

  .icono i {
      color: white;
      font-size: 4em;
      
      padding: .8em;
      text-shadow: 3px 3px 16px #a8c6b4;
  }

  .card-info {
      margin-top: 2em;
  }

  .card-info h3 {
      color: #373c38;
      font-weight: 700;
      font-size: 1.5em;
      margin-bottom: 1em;
  }

  .card-info p {
      margin-bottom: 1.5em;
  }

  .card-info a {
      color: #60cd8e;
      font-weight: 600;
  }

  /*CONVIERTETE EN DISTRIBUIDOR*/

  .cabecera-dristribuidor {
      width: 100%;
      /*height: 95vh;*/
      background: url('./assets/bg-cabecera3.png'), #ffffff;
      background-size: cover;
      background-position: left;
      border-top: 1px solid #d1eedd;
  }

  .proveedores {
      background: url('./assets/bg-productos235.png') ,#ebf9f1;
      background-size: cover;
      background-position: left;
      width: 100%;
      /*height: 60vh;*/
  }

  .content-proveedores {
      display: flex;
      padding: 4em 0;
  }

  .info-proveedores {
      flex: 1;
      width: 100%;
      /*height: 60vh;*/
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  .info-proveedores h2 {
      color: #373c38;
      font-size: 3em;
      font-weight: 700;
      margin-bottom: 1em;
  }

  .info-proveedores p {
      color: #373c38;
      padding-right: 3em;
  }

  .info-prod-izq {
      flex: 1;
      width: 100%;
      /*height: 60vh;*/
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  .info-prod-izq i {
      color: #d7f0e2;
      text-align: center;
      font-size: 24em;
  }





  /*LOGIN*/

  .tit-login {
      width: 100%;
      background-color: #ebf9f1;
      padding: 2em 0;
  }

  .tit-login h2 {
      color: #373c38;
      font-weight: 700;
      font-size: 3em;
  }

  .login-form {
      width: 100%;
      background-color: white;
      padding: 2em 0;
  }

  .login-form-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .logo-login-form {
      margin: 2em 0 4em 0;
  }

  .formulario-login {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1em 0 4em 0;
  }

  .login-campo {
      width: 30%;
      margin-bottom: .8em;
  }
  
  .login-campo input[type=text] {
      width: 100%;
      height: 50px;
      background-color: #ffffff;
      padding: 12px 20px;
      box-sizing: border-box;
      border: 1px solid #4f5551;
      outline: none;
      font-size: 1em;
      font-family: 'Open Sans', sans-serif;
      font-weight: 500;
      color: #373c38;
  }

  .login-campo input[type="text"]::-webkit-input-placeholder {
      color: #65727a;
  }

  .login-campo input[type=password] {
      width: 100%;
      height: 50px;
      background-color: #ffffff;
      padding: 12px 20px;
      box-sizing: border-box;
      border: 1px solid #4f5551;
      outline: none;
      font-size: 1em;
      font-family: 'Open Sans', sans-serif;
      font-weight: 500;
      color: #373c38;
  }

  .login-campo input[type="password"]::-webkit-input-placeholder {
      color: #65727a;
  }

  .btn-submit-form {
      background-color: #60cd8e;
      color: white;
      font-size: 1em;
      padding: 1em 2em;
      text-decoration: none;
      text-align: center;
      border: 1px solid #60cd8e;
      width: 100%;
  }


  /*MEDIA QUERY'S*/

@media (max-width: 1572px) {
    .info-cabecera h1 {
        font-size: 3.4em;
    }

    .img-bottles img {
        margin-top: 4em;
        height: 740px;
        width: auto;
    }
}

@media (max-width: 1450px) {
    .info-cabecera p {
        font-size: 1.2em;
    }

    .info-cabecera a {
        padding: 1em 1em;
    }
}

@media (max-width: 1450px) {

    .info-cabecera a {
        font-size: .9em;
    }

    .info-prod h2 {
        font-size: 2.8em;
    }

    .info-porque h2 {
        font-size: 2.8em;
    }

    .img-lata img {
        height: 524px;
        width: auto;
    }

    .links-footer {
        flex: 2;
    }

    .card-distribuidor {
        width: 32%;
    }

    .login-campo {
        width: 40%;
    }
}

@media (max-width: 1350px) {
    .card {
        padding: 4em 2em;
    }

    .lista-prod ul li {
        font-size: 1.1em;
    }

    .card-distribuidor h4 {
        font-size: 1.1em;
    }
}


@media (max-width: 1280px) {
    .main-wrapper {
        padding: 0;
    }

    .img-distribuidor img {
        width: 90px;
        height: 90px;
    }
}

@media (max-width: 1150px) {
    .info-cabecera h1 {
        font-size: 3.2em;
    }

    .info-cabecera p {
        font-size: 1em;
    }

    .info-cabecera a {
        padding: 1em .5em;
    }

    .card {
        padding: 3em 1em;
    }

    .card-distribuidor {
        width: 46%;
    }
}

@media (max-width: 1100px) {
    .nav-links-izq {
        display: none;
    }

    .mobile-nav {
        display: inline;
    }

    .dis-none-nav {
        display: none;
    }
    .info-cabecera a {
        width: 80%;
    }
}

@media (max-width: 976px) {
    .content-cabecera {
        flex-direction: column;
    }

    .info-cabecera h1 {
        margin-top: 1em;
    }

    .img-bottles img {
        height: 540px;
    }

    .producto {
        height: auto;
    }

    .content-producto {
        flex-direction: column;
    }

    .info-prod {
        height: auto;
    }

    .content-cards {
        flex-direction: column;
    }

    .card {
        width: 100%;
        margin-bottom: 1.5em;
    }

    .porque {
        height: auto;
    }

    .content-porque {
        flex-direction: column;
    }

    .info-porque {
        height: auto;
    }

    .cards {
        height: auto;
    }

    .img-lata img {
        height: 424px;
    }

    .footer {
        height: auto;
    }

    .content-footer {
        flex-direction: column;
    }

    .info-cabecera a {
        width: 100%;
    }

    .links-footer {
        margin: 1em 0;
        text-align: center;
    }

    .content-proveedores {
        flex-direction: column;
    }

    .proveedores {
        height: auto;
    }

    .info-prod-izq {
        height: auto;
    }

    .info-proveedores {
        height: auto;
        padding: 2em 0;
    }

    .info-prod-izq i {
        font-size: 18em;
    }

    .login-campo {
        width: 55%;
    }
}

@media (max-width: 850px) {
    .card-distribuidor {
        width: 48%;
    }

    .container-search {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .container-search select {
        width: 48%;
        margin-bottom: 1em;
    }

    .btn-filtrar {
        width: 100%;
    }
}

@media (max-width: 780px) {
    .card-distribuidor {
        width: 100%;
    }

    .logo-login-form svg {
        width: 320px;
        height: auto;
    }
}

@media (max-width: 600px) {
    .info-cabecera h1 {
        font-size: 2.5em;
    }

    .info-prod-izq i {
        font-size: 15em;
    }

    .info-proveedores h2 {
        font-size: 2.5em;
    }

    .info-porque h2 {
        font-size: 2.5em;
    }

    .nav-izq-head a svg {
        width: 200px;
        height: auto;
    }
    .info-prod h2 {
        font-size: 2.5em;
    }

    .login-campo {
        width: 75%;
    }

    .logo-login-form {
        margin: 2em 0 2.5em 0;
    }
}

@media (max-width: 500px) {
    .container-search select {
        width: 100%;
    }

    .img-lata img {
        height: 380px;
    }

    .info-cabecera h1 {
        font-size: 2em;
    }

    .info-cabecera p {
        font-size: .9em;
    }

    .img-bottles img {
        height: 440px;
    }

    .info-prod-izq i {
        font-size: 11em;
    }

    .info-proveedores h2 {
        font-size: 2em;
    }

    .info-proveedores p {
        font-size: .9em;
    }

    .info-porque h2 {
        font-size: 2em;
    }

    .info-porque p {
        font-size: .9em;
    }

    .img-lata img {
        height: 330px;
    }

    .info-prod h2 {
        font-size: 2em;
    }
    .info-prod p {
        font-size: .9em;
    }

    .lista-prod ul li {
        font-size: .9em;
    }

    .card-info p {
        font-size: .9em;
    }

    .login-campo {
        width: 100%;
    }
}

  
</style>
